<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies Bruv
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Movies Bruv</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
 <h3>Welcome to Mobile Apps Starter project 2023</h3>
 <br>
 <ion-list>
    <ion-item *ngFor="let x of myMovies">
        <ion-thumbnail size="">
          <img src="{{x.Poster}}"/>
        </ion-thumbnail>
        <ion-title> {{x.Title}}</ion-title>
        <ion-label>Year: {{x.Year}}</ion-label>
        <ion-label>Type: {{x.Type}}</ion-label>
    </ion-item>
  
  </ion-list>
  </div>
</ion-content>
